<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Student</title>
    <style>
        body{
            background-color: black;
        }
        .main{

            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;

        }

        .form {
            /* background-color: aqua; */

            padding: 20px;
            height: 250px;
        }

        .inp {
            border: 1px solid black;
            border-radius: 5px;
            margin: 10px;
            margin-top: 0px;
            margin-bottom: 10px;
            padding: 8px;
            width: 230px;
            background-color: rgb(210, 218, 217);
        }

        .submitBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(0, 208, 255);
            transition: background-color 0.5s ease;
            cursor: pointer;
            height: 35px;
            width: 180px;
            border-radius: 5px;
            margin-top: 10px;
            border: 1px solid black;

        }

        .submitBtn:hover {
            background-color: rgb(0, 157, 229);
        }

        .submitContainer {
            display: flex;
            justify-content: center;

        }

        .formcontainer {
            /* display: flex; */
            background-color: rgb(255, 255, 255);

            height: 400px;
            width: 400px;
            /* align-items: center; */
            justify-content: center;
            margin: auto;
            margin-top: 50px;
            border-radius: 20px;
            border: 2px solid rgb(10, 216, 252);
        }
        h1{
    color: rgb(255, 136, 0);
    text-align: center;
    margin-top: 20px;
}
    </style>
</head>

<body>
    
    <div class="main">
    <div class="formcontainer">
        <form class="form" method="post" action="/newstudent">
            <h1>Add New Student</h1>
            <table>
            <tbody>
                <tr>
                    <td><label for="id">Id : </label></td>
                    <td><input type="text" name="id" class="inp" placeholder="enter unique id"></td>
                </tr>
                <tr>
                    <td><label for="name">Name : </label></td>
                    <td><input type="text" name="name" class="inp" placeholder="enter username"></td>
                </tr>
                <tr>
                    <td><label for="email">Email : </label></td>
                    <td><input type="text" name="email" class="inp" placeholder="enter email"></td>
                </tr>
                <tr>
                    <td><label for="branch">Branch : </label></td>
                    <td><input type="text" name="branch" class="inp" placeholder="enter branch"></td>
                </tr>
                <tr>
                    <td><label for="password">Password : </label></td>
                    <td><input type="password" name="password" class="inp" placeholder="enter password"></td>
                </tr>
            </tbody>
        </table>
            
            <br>
            <div class="submitContainer">
                <button class="submitBtn">
                    Submit
                </button>
            </div>
        </form>

    </div>
</div>
</body>

</html>